.footer {
  background: hsl(209, 61%, 16%);
  position: relative;
  min-height: 22rem;
}
.footerContainer {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 95vw;
}
.footerIcon {
  color: white;
  font-size: 2rem;
  margin: 0 1rem;
}
.footerText {
  padding-top: 1rem;
  text-align: center;
}
.footerText h4 {
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.footerText h4 span {
  color: rgb(78, 203, 241);
}
@media screen and (min-width: 992px) {
  .footerContainer {
    width: 85vw;
  }
}
.btn {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  display: inline-block;
  font-weight: 500;
  transition: 0.3s linear;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.btn:hover {
  color: rgb(47, 192, 202);
}
.links {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
