.btn {
  text-transform: uppercase;
  background: white;
  color: rgba(34, 127, 136, 0.7);
  padding: 0.9rem 1.6rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  font-weight: 700;
  transition: 0.3s linear;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  position: relative;
  color: white;
  background: transparent;
  border-color: white;
}
.hero {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7));
}

.heroImage {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.heroBanner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  color: white;
  padding: 0 3rem;
}
.heroBanner h1 {
  text-transform: uppercase;
}
.heroBanner p {
  max-width: 45rem;
  letter-spacing: 0.2rem;
}
